* {
    box-sizing: border-box;
}
/* -----------------------------------------Main-----------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Black Ops One", cursive;
    color: #fffafa;
    /* background-color: black; */
    background-image: url('../images/noel-broda.jpg');
    text-decoration: none;
}
/* -----------------------------------------Footer-----------------------------------------*/
/* .footer-basic {
    padding: 40px 0;
    background-color: #ffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
} */
/* -----------------------------------------integrantes.html-----------------------------------------*/
/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    border: solid;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
}
/* Some left and right padding inside the container */
.container3 {
    padding: 0 16px;
    text-align: center;
}
/* Clear floats */
.container3::after, row::after {
    content: "";
    clear: both;
    display: table;
}

/* .title {
    color: gray;
} */


/* -----------------------------------------Container-----------------------------------------*/
.container {
    display: flex;
    width: 100%;
    height: 190px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
#st-box {
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
}
#nd-box {
    float: left;
    width: 25%;
    height: auto;
    margin-left: 20px;
    text-align: center;
}
#rd-box  {
    float: left;
    width: 25%;
    height: auto;
    margin-left: 20px;
    text-align: center;
}
#one-box {
    float: left;
    width: 25%;
    height: auto;
    margin-left: 20px;
    text-align: center;
}
/* -----------------------------------------Media Player-----------------------------------------*/
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -----------------------------------------slideshow-----------------------------------------*/
[data-component="slideshow"] .slide {
    display: none;
}
[data-component="slideshow"] .slide.active {
    display: block;
}
#slideshow-example {
    text-align: center;
    width: 100%;
    height: auto;
}

/* -----------------------------------------Header-----------------------------------------*/
.fab {
    color: white;
}
h1 a {
    text-decoration: none;
}

h1:hover {
    color: orange;
}

h3:hover {
    color: orange;
}
h2 {
    text-align: center;
}

.Navbar {
    display: flex;
    padding: 16px;
}
.heading {
    text-align: center;
}

.Navbar__Link {
    padding: 12px;
}
.Navbar__Link a {
    padding: 4px;
    text-decoration: none;
    color: white; /* What is the best color? */
    /* background-color: black; On or Off? */ 
    border-radius: 25%;
}

.Navbar__Link a:hover {
    color: orange;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
}
      
  .Navbar__Items--right {
      margin-left:0;
      display: none;
}

.Navbar__ToggleShow {
    display: flex;
}


.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}